*{
    padding: 0;
    margin: 0;
}
.container{
    width: 100vw; 
    height: 100vh;
    background: rgb(0, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}


#ball{
    background: white;
    height: 50px;
    width: 50px;
    margin: 10px;
    border-radius: 50%;
}

#ball2{
    background: white;
    height: 50px;
    width: 50px;
    margin: 10px;
    border-radius: 50%;
}

#ball3{
    background: white;
    height: 50px;
    width: 50px;
    margin: 10px;
    border-radius: 50%;
}
#ball4{
    background: white;
    margin: 10px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}